.projects-section {
    background-color: var(--brand-color);
}

.heading {
    font-size: 60px;
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px var(--brand-color-dark) ;
}

.projects-container {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

app-project-card {
    flex: 1;
    margin: 2%;
}