<div class="bg-image">
    <div class="menu-content">
        <p class="heading">{{myName}}</p>
        <p class="subtitle">{{subtitle}}</p>
        <nav>
            <ul class="contact-buttons">
                <li><button class="linkedin-button" (click)="openLink(linkedinLink)">LinkedIn</button></li>
                <li><button class="github-button" (click)="openLink(githubLink)">GitHub</button></li>
            </ul>
        </nav>
        <nav>
            <ul class="bookmarks">
                <app-bookmarks [bookmark]="aboutMeBookmark"></app-bookmarks>
                <app-bookmarks [bookmark]="projectsBookmark"></app-bookmarks>
                <app-bookmarks [bookmark]="cvBookmark"></app-bookmarks>
            </ul>
        </nav>
    </div>
</div>