<div class="bg-image">
    <div class="menu-content">
        <p class="heading">{{myName}}</p>
        <p class="subtitle">{{subtitle}}</p>
        <nav>
            <ul class="contact-buttons">
                <li><a class="linkedin-button" [href]="linkedinLink" target="_blank">LinkedIn</a></li>
                <li><a class="github-button" [href]="githubLink" target="_blank">GitHub</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="bookmarks">
                <app-bookmarks></app-bookmarks>
                <app-bookmarks></app-bookmarks>
                <app-bookmarks></app-bookmarks>
            </ul>
        </nav>
    </div>
</div>