.about-me {
    display: flex;
    flex-direction: row;
    background-color: var(--brand-color);
}

.my-description {
    flex: 1;
    padding-left: 25px;
    padding-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    color: #f0dada;
    text-shadow: 2px 2px var(--brand-color-dark) ;/*#ba9797; */
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-left: 20px;
}

.description-heading {
    
    font-size: 60px;
}

.description-subtitle {
    font-size: 20px;
    width: 500px;
}

.accomplishments {
    padding: 40px;
    flex: 1;
}

app-accomplishment {
    padding: 20px;
}