.container {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color) ;
    border-radius: 10px;
}
/* 
.container:hover {
    background-color: var(--secondary-color-dark);
} */

.bulletpoint-image {
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

.description {
    display: flex;
    flex-direction: column;
}

.heading {
    font-weight: bold;
}