.heading {
    font-size: 60px;
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #bfa0a0;
}

.cv-section {
    background-color: var(--brand-color);
    padding-bottom: 5%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cv-image {
    width: 60em;
    height: 88em;
    border-radius: 30px;
    padding: 2em;
    background-color: var(--brand-color-dark);
}