.bookmark-name {
    width: 30%;
    height: 30%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 130%;
    line-height: 150%;

    text-align: center;
    
    color: #FFFFFF;

    border-bottom: 4px solid #FFFFFF;

    padding: 5% 100px;

    margin-right: 50px;
}

.bookmark-name:hover {
    color: #FFF04E;
    border-bottom: 4px solid #FFF04E;
}